<section
  class="relative py-20 flex flex-col items-center bg-cyan-900 overflow-hidden md:py-40 border-b-2 border-blue-500"
>
  <div class="relative z-[1] container m-auto">
    <section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16">
      <div class="flex lg:flex-1 justify-center pb-10">
        <span class="text-blue-400 text-xl font-bold"
          >Meus<span class="text-white">Conhecimentos</span>.</span
        >
      </div>

      <div
        class="icons-container flex justify-center flex-wrap gap-x-12 text-center text-white max-sm:grid max-sm:grid-cols-3 max-sm:gap-0 max-sm:gap-y-14"
      >
        <app-icons techName="HTML5"></app-icons>
        <app-icons techName="CSS3"></app-icons>
        <app-icons techName="Angular"></app-icons>
        <app-icons techName="Javascript"></app-icons>
        <app-icons techName="Node"></app-icons>
        <app-icons techName="Tailwind"></app-icons>
        <app-icons techName="Typescript"></app-icons>
        <app-icons class="mt-0.5" techName="Nest"></app-icons>
        <app-icons techName="Wordpress"></app-icons>
        <app-icons techName="Git"></app-icons>
        <app-icons techName="Figma"></app-icons>
        <app-icons techName="Docker"></app-icons>
      </div>
    </section>
  </div>
  <div aria-hidden="true" class="absolute h-full inset-0 flex items-center">
    <div
      aria-hidden="true"
      class="bg-layers bg-scale w-56 h-56 m-auto blur-xl bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-600 rounded-full md:w-[30rem] md:h-[30rem] md:blur-3xl"
    ></div>
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 w-full h-full bg-[#020314] opacity-80"
  ></div>
</section>
