<section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16">
  <div class="flex lg:flex-1 justify-center pb-6">
    <span class="text-blue-400 text-xl font-bold"
      >Minhas<span class="text-white">Experiências</span>.</span
    >
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="text-white p-8 rounded-lg shadow-lg border border-blue-400">
      <h2 class="text-lg font-bold text-blue-400 mb-4">
        <span class="text-white font-normal"> Trainee híbrido:</span><br />
        YELLOW KITE DIGITAL 360
      </h2>
      <ul class="list-disc list-inside mb-4">
        <li *ngFor="let itemYellow of descricaoYellowKite">{{ itemYellow }}</li>
      </ul>
      <div class="max-sm:grid max-sm:grid-cols-5 flex space-x-2">
        <app-icons techName="HTML5"></app-icons>
        <app-icons techName="CSS3"></app-icons>
        <app-icons techName="Wordpress"></app-icons>
        <div class="flex flex-col items-center">
          <img src="assets/icons/whats-API.svg" height="40px" width="40px" />
          <p class="text-img">API Whats</p>
        </div>
      </div>
    </div>

    <div class="text-white p-8 rounded-lg shadow-lg border border-blue-400">
      <h2 class="text-lg text-blue-400 mb-4 font-bold">
        <span class="text-white font-normal">Freelancer remoto:</span><br />
        SOFTBASE
      </h2>

      <ul class="list-disc list-inside mb-4">
        <li *ngFor="let itemSoftbase of descricaoSoftbase">
          {{ itemSoftbase }}
        </li>
      </ul>
      <div class="max-sm:grid max-sm:grid-cols-5 flex space-x-2">
        <app-icons techName="HTML5"></app-icons>
        <app-icons techName="Angular"></app-icons>
        <app-icons techName="Javascript"></app-icons>
        <app-icons techName="Node"></app-icons>
        <app-icons techName="Tailwind"></app-icons>
        <app-icons techName="Typescript"></app-icons>
        <app-icons class="mt-0.5" techName="Nest"></app-icons>
        <app-icons techName="Git"></app-icons>
        <app-icons techName="Figma"></app-icons>
        <app-icons techName="Docker"></app-icons>
      </div>
    </div>
    <div class="text-white p-8 rounded-lg shadow-lg border border-blue-400">
      <h2 class="text-lg text-blue-400 mb-4 font-bold">
        <span class="text-white font-normal">Estágio híbrido:</span><br />
        SENAI ALAGOAS
      </h2>

      <ul class="list-disc list-inside mb-4">
        <li *ngFor="let itemSenai of descricaoSenai">{{ itemSenai }}</li>
      </ul>

      <div class="max-sm:grid max-sm:grid-cols-4 flex space-x-2">
        <app-icons techName="HTML5"></app-icons>
        <app-icons techName="CSS3"></app-icons>
        <app-icons techName="Angular"></app-icons>
        <app-icons techName="Javascript"></app-icons>
        <app-icons techName="Node"></app-icons>
        <app-icons techName="Tailwind"></app-icons>
        <app-icons techName="Typescript"></app-icons>
        <app-icons techName="Git"></app-icons>
        <app-icons techName="Figma"></app-icons>
        <app-icons techName="Docker"></app-icons>
      </div>
    </div>

    <div class="text-white p-8 rounded-lg shadow-lg border border-blue-400">
      <h2 class="text-lg text-blue-400 mb-4 font-bold">
        <span class="text-white font-normal">Estágio remoto:</span><br />
        JUCEAL
      </h2>

      <ul class="list-disc list-inside mb-4">
        <li *ngFor="let itemJuceal of descricaoJuceal">{{ itemJuceal }}</li>
      </ul>
      <div class="flex space-x-2">
        <span class="bg-green-500 text-white text-sm px-2 py-1 rounded-full"
          >Online</span
        >
        <span class="bg-purple-700 text-white text-sm px-2 py-1 rounded-full"
          >Typescript</span
        >
      </div>
    </div>
  </div>
</section>
