<section class="section-projetos">
  <h1 id="h1-projetos">
    Meus<span id="span-do-conhecimentos">Projetos</span>.
  </h1>

  <div class="div-projetos">
    <div class="projeto1">
      <a href="#"
        ><p>{{ projeto1 }}</p>
        <img src="../../../assets/img/todolist.png" class="img-todolist" />
      </a>
    </div>
    <div class="projeto2">
      <a href="#"
        ><p>{{ projeto2 }}</p>
        <img src="../../../assets/img/todolist.png" class="img-todolist" />
      </a>
    </div>
    <div class="projeto3">
      <a href="#"
        ><p>{{ projeto3 }}</p>
        <img src="../../../assets/img/todolist.png" class="img-todolist" />
      </a>
    </div>
    <div class="projeto4">
      <a href="https://brasileirao-gilt.vercel.app/" target="_blank"
        ><p>{{ projeto4 }}</p>
        <img src="../../../assets/img/todolist.png" class="img-todolist" />
      </a>
    </div>
    <div class="projeto5"></div>
  </div>
</section>
