* {
  font-family: "Poppins", "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
}

#h1-projetos {
  font-family: "Poppins", "Open Sans", sans-serif;
  color: white;
  text-align: center;
}

#span-do-conhecimentos {
  color: #068ae2;
}

.section-projetos {
  height: 80vh;
  max-width: 800px;
  min-width: 250px;
  min-height: 30vh;
  margin: auto;
}

.div-projetos {
  display: flex;
  margin: auto;
  border: 1px solid red;
  padding: 5%;
}

@media (max-width: 585px) {
  .div-projetos {
    display: block;
    margin: auto;
    text-align: center;
  }
}

.img-todolist {
  height: 300px;
  width: 180px;
}
