#h1-projetos {
    font-family: "Poppins", "Open Sans", sans-serif;
    color: white;
    text-align: center;
    /* margin-top: 5vw; */
  }

  #span-do-conhecimentos {
    color: #068ae2;
  }
  
  .section-projetos {
    height: 85vh;
    max-width: 800px;
    min-width: 250px;
    min-height: 30vh;
    margin: auto;
  }

  .div-projetos {
    display: flex;
    margin: auto;
    width: 80%;
    height: 20%;
    border: 1px solid red;
    padding: 5%;
  }

  .projeto1, .projeto2, .projeto3, .projeto4, .projeto5 {
    width: 100px;
    height: 100px;
    border: 1px solid yellow;
    margin: 2% 2% 2% 2%;
  }
  