<section class="section-conhecimentos">
    <h1 id="h1-do-conhecimentos">
      Meus<span id="span-do-conhecimentos">Conhecimentos</span>.
    </h1>
    <div class="div-conhecimentos">
      <div>
        <!-- <ion-icon class="logo-html5" name="logo-html5"></a></ion-icon>
        <p id="p-html5">HTML5</p>
      </div>
      <div>
        <ion-icon class="logo-css3" name="logo-css3"></ion-icon>
        <p id="p-css3">CSS3</p>
      </div>
      <div>
        <ion-icon class="logo-javascript" name="logo-javascript"></ion-icon>
        <p id="p-javascript">JavaScript</p>
      </div>
      <div>
        <ion-icon class="logo-react" name="logo-react"></ion-icon>
        <p id="p-react">React</p>
      </div>
      <div>
        <ion-icon class="logo-nodejs" name="logo-nodejs"></ion-icon>
        <p id="p-nodejs">Node.JS</p> -->
        <img src="../../../assets/img/logo-html5.svg" class="
        logo-html"> 
        <img src="../../../assets/img/logo-angular.svg" class="logo-angular">

      </div>
    </div>
  </section>
