<section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16">
  <div class="flex lg:flex-1 justify-center pb-10">
    <span class="text-blue-400 text-xl font-bold"
      >Meus<span class="text-white">Conhecimentos</span>.</span
    >
  </div>

  <div
    class="icons-container flex justify-center flex-wrap gap-x-10 text-center text-white max-sm:grid max-sm:grid-cols-3 max-sm:gap-0 max-sm:gap-y-10"
  >
    <app-icons techName="HTML5"></app-icons>
    <app-icons techName="CSS3"></app-icons>
    <app-icons techName="Angular"></app-icons>
    <app-icons techName="Javascript"></app-icons>
    <app-icons techName="Node"></app-icons>
    <app-icons techName="Tailwind"></app-icons>
    <app-icons techName="Typescript"></app-icons>
    <app-icons class="mt-0.5" techName="Nest"></app-icons>
    <app-icons techName="Wordpress"></app-icons>
    <app-icons techName="Git"></app-icons>
    <app-icons techName="Figma"></app-icons>
    <app-icons techName="Docker"></app-icons>
  </div>
</section>
