#h1-do-conhecimentos {
    font-family: "Poppins", "Open Sans", sans-serif;
    color: white;
    text-align: center;
    margin-top: 5vw;
  }
  
  #span-do-conhecimentos {
    font-family: "Poppins", "Open Sans", sans-serif;
    color: #068ae2;
  }
  
  .logo-html5,
  .logo-css3,
  .logo-javascript,
  .logo-react,
  .logo-nodejs {
    color: #068ae2;
    font-size: 100px;
    cursor: pointer;
  }
  
  .logo-html5:hover {
    color: #e34c26;
    font-size: 100px;
  }
  
  .logo-css3:hover {
    color: #264de4;
    font-size: 100px;
  }
  
  .logo-javascript:hover {
    color: #f0db4f;
    font-size: 100px;
  }
  
  .logo-react:hover {
    color: #61dbfb;
  }
  
  .logo-nodejs:hover {
    color: #3c873a;
  }
  
  #p-html5,
  #p-css3,
  #p-javascript,
  #p-react,
  #p-nodejs {
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    text-align: center;
  }
  
  .div-conhecimentos {
    display: flex;
    padding: 50px 50px;
    justify-content: space-between;
  }
  
  .section-conhecimentos {
    max-width: 800px;
    min-width: 250px;
    min-height: 30vh;
    margin: auto;
  }
  
  @media (max-width: 585px) {
    .div-conhecimentos {
      display: block;
      text-align: center;
    }
  
    #p-html5,
    #p-css3,
    #p-javascript,
    #p-react,
    #p-nodejs {
      margin-bottom: 20px;
    }
  }

  .logo-html {
    background-color: #61dbfb;
    border: 2px solid red;
    height: 100px;
    width: 100px;
  }

  .logo-angular {
    background-color: #61dbfb;
    border: 2px solid red;
    height: 100px;
    width: 100px;
  }