#h1-do-conhecimentos {
  font-family: "Poppins", "Open Sans", sans-serif;
  color: white;
  text-align: center;
  margin-top: 5vw;
}

#span-do-conhecimentos {
  font-family: "Poppins", "Open Sans", sans-serif;
  color: #068ae2;
}

.logo-html:hover {
  fill: #e34c26;
  font-size: 100px;
}

.logo-css:hover {
  fill: #264de4;
  font-size: 100px;
}

.logo-javascript:hover {
  fill: #f0db4f;
  font-size: 100px;
}

.logo-angular:hover {
  fill: red;
}

.logo-nodejs:hover {
  fill: #3c873a;
}

#p-html,
#p-css,
#p-javascript,
#p-angular,
#p-nodejs {
  color: white;
  font-family: "Poppins";
  font-size: 20px;
  text-align: center;
}

.div-conhecimentos {
  display: flex;
  padding: 50px 50px;
  justify-content: space-between;
}

/* .section-conhecimentos {
  max-width: 800px;
  min-width: 250px;
  min-height: 30vh;
  margin: auto;
} */

.section-conhecimentos {
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 585px) {
  .div-conhecimentos {
    display: block;
    text-align: center;
    max-width: 20%;
    margin: auto;
  }

  #p-html,
  #p-css,
  #p-javascript,
  #p-angular,
  #p-nodejs {
    margin-bottom: 20px;
  }
}

.logo-html,
.logo-css,
.logo-javascript,
.logo-angular,
.logo-nodejs {
  fill: #068ae2;
  height: 110px;
  width: 110px;
}
