<section class="section1">
  <div class="div-home1">
    <p id="p1-section1">
      Olá,<br/>
      Eu sou o Rodrigo!
    </p>
    
    <p id="p2-section1">Desenvolvedor Front-end.</p>
  </div>
  <div class="div-home2">
    <!-- <img src="../../../assets/img/code-programmers-img.jpg" alt="Imagem aleatória de códigos na programação" height="100%"> -->
    <img src="../../../assets/img/home-image.png" alt="">
  </div>
    
  </section>

 <!-- 

  fgfd           <script>
  fgfd
  fgfd              const day = "depressed";
  fgfd              function getInspiration() {
  fgfd                if (day == "depressed") {
  fgfd                  console.log("start coding & get inspiration");
  fgfd                }
  fgfd              }
  fgfd              getInspiration();
  fgfd              
  fgfd           </script>

 -->