<section class="section-cursos">
    <h1 id="h1-cursos">
      Meus<span id="span-do-conhecimentos">Cursos</span>.
    </h1>
    <div class="div-cursos">
      <div class="div-rocketseat">
        <h4>Rocketseat</h4>
        <p>Trilha Conectar (Discover);</p>
        <p>Trilha Fundamentar (Discover).</p>
      </div>
      <div class="div-udemy">
        <h4>Udemy</h4>
        <p>HTML5 e CSS3 para iniciantes;</p>
        <p>JavaScript básico para iniciantes;</p>
        <p>Git e Github para iniciantes;</p>
        <p>Fundamentos de React.</p>
      </div>
      <div class="div-devmedia">
        <h4>Devmedia</h4>
        <p>Autoridade em HTML: Introdução.</p>
      </div>
      <div class="div-dio">
        <h4>DIO</h4>
        <p>Sintaxe Básica em JavaScript;</p>
        <p>
          Posicionando elementos com Flexbox em CSS.
        </p>
      </div>

    </div>
  </section>
