<section class="section-footer">
    <div class="div-footer1">
      <span class="span-final">Por Rodrigo Marques<br>2022</span>
    </div>
    <div class="div-footer2">
      <ul class="ul-footer">

        <!-- <li>
          <a href="#"><ion-icon class="logo-instagram" name="logo-instagram"></ion-icon></a>
        </li>
        <li>
          <a href="#"><ion-icon class="logo-whatsapp" name="logo-whatsapp"></ion-icon></a>
        </li>
        <li>
          <a href="#"><ion-icon class="logo-facebook" name="logo-facebook"></ion-icon></a>
        </li>
        <li>
          <a href="#"><ion-icon class="logo-linkedin" name="logo-linkedin"></ion-icon></a>
        </li>
        <li>
          <a href="https://github.com/RodrigoMarques6" target="_blank"><ion-icon class="logo-github" name="logo-github"></ion-icon></a>
        </li>
        <li>
          <a href="#"><ion-icon class="logo-email" name="mail-outline"></ion-icon></a>
        </li> -->
      </ul>
    </div>
  </section>
