<section
  class="relative py-10 flex flex-col items-center bg-cyan-900 overflow-hidden md:py-20 border-b-2 border-blue-500"
>
  <div class="relative z-[1] container m-auto">
    <div class="bg-hero-image bg-cover">
      <div class="p-2 sm:p-16 md:p-16 lg:p-16 xl:p-16">
        <!-- Alterado p-4 para p-2 -->
        <div
          class="grid max-w-screen-xl px-4 sm:py-16 py-16 sm:mt-0 mt-6 mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-12"
        >
          <div
            class="mr-auto place-self-center lg:col-span-6 text-2xl w-full max-sm:flex max-sm:flex-col max-sm:items-center"
          >
            <div>
              <p class="text-white">
                Olá
                <svg height="60" width="auto">
                  <text
                    x="0"
                    y="50%"
                    dominant-baseline="middle"
                    text-anchor="start"
                    class="text-line"
                    stroke="#3b82f6"
                    stroke-width="2"
                  >
                    Muito prazer,
                  </text>
                </svg>
              </p>
            </div>
            <div class="flex gap-x-2 max-sm:block">
              <div><span class="text-white">Me chamo</span></div>
              <div class="mt-1">
                <span>
                  <svg height="60" width="auto">
                    <text
                      x="0"
                      y="50%"
                      dominant-baseline="middle"
                      text-anchor="start"
                      class="text-line"
                      stroke="#3b82f6"
                      stroke-width="2"
                    >
                      Rodrigo.
                    </text>
                  </svg>
                </span>
              </div>
            </div>

            <p class="max-w-2xl text-white lg:mb-8 md:text-sm lg:text-md">
              Sou Desenvolvedor Front-End
            </p>
          </div>

          <div class="lg:col-span-6 flex justify-center items-center">
            <iframe
              src="https://drive.google.com/file/d/1wE6pVA1OXBKP8KIX2_sVaciN2GIqHEMq/preview?usp=sharing"
              width="100%"
              height="315"
              allow="autoplay"
              class="rounded-lg shadow-lg"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" class="absolute h-full inset-0 flex items-center">
    <div
      aria-hidden="true"
      class="bg-layers bg-scale w-56 h-56 m-auto blur-xl bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-600 rounded-full md:w-[30rem] md:h-[30rem] md:blur-3xl"
    ></div>
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 w-full h-full bg-[#020314] opacity-80"
  ></div>
</section>
