<section
  class="relative py-20 flex flex-col items-center bg-cyan-900 overflow-hidden md:py-40"
>
  <div class="relative z-[1] container m-auto">
    <div class="flex lg:flex-1 justify-center pb-6">
      <span class="text-blue-400 text-xl font-bold"
        >Meus<span class="text-white">Projetos</span>.</span
      >
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-center items-center"
    >
      <div
        class="w-full h-full group inline-block pb-4 bg-gradient-to-tr from-transparent to-cyan-800 text-white overflow-hidden rounded-2xl shadow hover:shadow-md transition border border-blue-500"
      >
        <a href="https://test-landing-page-tau.vercel.app/" target="_blank">
          <figure class="h-52 w-full overflow-hidden">
            <img
              class="w-full h-full object-fill transition group-hover:scale-125"
              src="assets/images/landing-page-react.png"
            />
          </figure>
          <div class="p-4">
            <h3 class="font-bold">Landing Page</h3>
            <p class="text-sm">Página para promover cursos de finanças</p>
          </div>
          <footer class="flex gap-2 px-4">
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-heart"></i>
            </button>
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-comment"></i>
            </button>
          </footer>
        </a>
      </div>

      <div
        class="w-full h-full group inline-block pb-4 bg-gradient-to-tr from-transparent to-cyan-800 text-white overflow-hidden rounded-2xl shadow hover:shadow-md transition border border-blue-500"
      >
        <a href="https://sandi.vercel.app/inicio" target="_blank">
          <figure class="h-52 w-full overflow-hidden">
            <img
              class="w-full h-full object-fill transition group-hover:scale-125"
              src="assets/images/calculadora-de-orcamentos.png"
            />
          </figure>
          <div class="p-4">
            <h3 class="font-bold">Cálculo de orçamentos</h3>
            <p class="text-sm">
              Realizar cálculos de projetos de arquitetura com base nas taxas de
              maquininhas da sumup.
            </p>
          </div>
          <footer class="flex gap-2 px-4">
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-heart"></i>
            </button>
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-comment"></i>
            </button>
          </footer>
        </a>
      </div>

      <div
        class="w-full h-full group inline-block pb-4 bg-gradient-to-tr from-transparent to-cyan-800 text-white overflow-hidden rounded-2xl shadow hover:shadow-md transition border border-blue-500"
      >
        <a routerLink="/projetos-copywave">
          <figure class="h-52 w-full overflow-hidden">
            <img
              class="w-full h-full object-fill transition group-hover:scale-125"
              src="assets/images/copywave.png"
            />
          </figure>
          <div class="p-4">
            <h3 class="font-bold">Copywave</h3>
            <p class="text-sm">
              Pensado para clonar páginas reais da web e facilitar novos
              desenvolvimentos no âmbito do front-end
            </p>
          </div>
          <footer class="flex gap-2 px-4">
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-heart"></i>
            </button>
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-comment"></i>
            </button>
          </footer>
        </a>
      </div>

      <div
        class="w-full h-full group inline-block pb-4 bg-gradient-to-tr from-transparent to-cyan-800 text-white overflow-hidden rounded-2xl shadow hover:shadow-md transition border border-blue-500"
      >
        <a href="https://test-landing-page-tau.vercel.app/" target="_blank">
          <figure class="h-52 w-full overflow-hidden">
            <img
              class="w-full h-full object-fill transition group-hover:scale-125"
              src="assets/images/landing-page-react.png"
            />
          </figure>
          <div class="p-4">
            <h3 class="font-bold">Landing Page</h3>
            <p class="text-sm">Página para promover cursos de finanças</p>
          </div>
          <footer class="flex gap-2 px-4">
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-heart"></i>
            </button>
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-comment"></i>
            </button>
          </footer>
        </a>
      </div>

      <div
        class="w-full h-full group inline-block pb-4 bg-gradient-to-tr from-transparent to-cyan-800 text-white overflow-hidden rounded-2xl shadow hover:shadow-md transition border border-blue-500"
      >
        <a href="https://test-landing-page-tau.vercel.app/" target="_blank">
          <figure class="h-52 w-full overflow-hidden">
            <img
              class="w-full h-full object-fill transition group-hover:scale-125"
              src="assets/images/landing-page-react.png"
            />
          </figure>
          <div class="p-4">
            <h3 class="font-bold">Landing Page</h3>
            <p class="text-sm">Página para promover cursos de finanças</p>
          </div>
          <footer class="flex gap-2 px-4">
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-heart"></i>
            </button>
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-comment"></i>
            </button>
          </footer>
        </a>
      </div>

      <div
        class="w-full h-full group inline-block pb-4 bg-gradient-to-tr from-transparent to-cyan-800 text-white overflow-hidden rounded-2xl shadow hover:shadow-md transition border border-blue-500"
      >
        <a href="https://test-landing-page-tau.vercel.app/" target="_blank">
          <figure class="h-52 w-full overflow-hidden">
            <img
              class="w-full h-full object-fill transition group-hover:scale-125"
              src="assets/images/landing-page-react.png"
            />
          </figure>
          <div class="p-4">
            <h3 class="font-bold">Landing Page</h3>
            <p class="text-sm">Página para promover cursos de finanças</p>
          </div>
          <footer class="flex gap-2 px-4">
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-heart"></i>
            </button>
            <button class="text-blue-400 hover:text-red-400">
              <i class="fa-solid fa-comment"></i>
            </button>
          </footer>
        </a>
      </div>
    </div>
  </div>
  <div aria-hidden="true" class="absolute h-full inset-0 flex items-center">
    <div
      aria-hidden="true"
      class="bg-layers bg-scale w-56 h-56 m-auto blur-xl bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-600 rounded-full md:w-[30rem] md:h-[30rem] md:blur-3xl"
    ></div>
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 w-full h-full bg-[#020314] opacity-80"
  ></div>
</section>
