<section
  class="relative py-20 flex flex-col items-center bg-cyan-900 overflow-hidden md:py-40"
>
  <div class="relative z-[1] container m-auto">
    <div
      class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
    >
      <div class="flex justify-center mt-8 space-x-6">
        <a
          href="https://api.whatsapp.com/send?phone=5582996983237"
          target="_blank"
        >
          <div class="flex flex-col items-center">
            <img
              src="assets/icons/whatsapp.svg"
              class="w-8 h-8 filter invert"
            />
          </div>
        </a>
        <a href="https://www.instagram.com/rodrigomarques390/" target="_blank">
          <div class="flex flex-col items-center">
            <img
              src="assets/icons/instagram.svg"
              class="w-8 h-8 filter invert"
            />
          </div>
        </a>
        <a
          href="https://www.linkedin.com/in/rodrigo-marques-de-lima-b83b83206/"
          target="_blank"
        >
          <div class="flex flex-col items-center">
            <img
              src="assets/icons/linkedin.svg"
              class="w-8 h-8 filter invert"
            />
          </div>
        </a>
        <a href="https://github.com/rodrigoMarques6" target="_blank">
          <div class="flex flex-col items-center">
            <img src="assets/icons/github.svg" class="w-8 h-8 filter invert" />
          </div>
        </a>
      </div>
      <p class="mt-8 text-base leading-6 text-center text-gray-400">
        ©2024 Rodrigo Marques de Lima
      </p>
    </div>
  </div>
  <div aria-hidden="true" class="absolute h-full inset-0 flex items-center">
    <div
      aria-hidden="true"
      class="bg-layers bg-scale w-56 h-56 m-auto blur-xl bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-600 rounded-full md:w-[30rem] md:h-[30rem] md:blur-3xl"
    ></div>
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 w-full h-full bg-[#020314] opacity-80"
  ></div>
</section>
