<div class="flex lg:flex-1">
  <span class="text-blue-400 text-xl font-bold"
    >Sobre<span class="text-white">Mim</span>.</span
  >
</div>

<section class="section-sobreMim">
  <!-- <h1 id="h1-do-sobreMim">Sobre<span id="span-do-sobreMim">Mim</span>.</h1> -->
  <div id="div-do-sobreMim">
    <div class="div1-sobre">
      <img
        id="img-perfil"
        src="../../../assets/img/fotoRodrigo.jpg"
        alt="Imagem de Perfil - Rodrigo Marques"
        width="100%"
      />
    </div>
    <div class="div2-sobre">
      <p id="p-sobreMim">
        {{ sobreMim1 }}
      </p>
      <p id="p-sobreMim">
        {{ sobreMim2 }}
      </p>
      <a href="" id="btn-curriculo" download="">{{ curriculo }}</a>
    </div>
  </div>
</section>



