<section class="section-menu">
    <div id="div-menu">
      <span id="span1-logo">Rodrigo<span id="span2-logo">Marques</span>.</span>
      <ul id="ul-do-menu">
        <li class="li-home">Home</li>
        <li class="li-sobre">Sobre</li>
        <li class="li-conhecimentos">Conhecimentos</li>
        <li class="li-projetos">Projetos</li>
        <li class="li-cursos">Cursos</li>
        <li class="li-contato">Contato</li>
      </ul>
    </div>

    <div id="div-menu2">
      <span id="span1-logo">Rodrigo<span id="span2-logo">Marques</span>.</span>
      <!-- <button class="button1"><ion-icon class="button-icon" name="menu-outline"></ion-icon></button> -->
      <span id="icon-menu" class="material-symbols-outlined">
        menu
      </span>
      <dialog class="dialog">
        <ul id="ul-do-menu2">
          <li>Home</li>
          <li>Sobre</li>
          <li>Conhecimentos</li>
          <li>Projetos</li>
          <li>Cursos</li>
          <li>Contato</li>
          <!-- <ion-icon name="caret-up-outline" class="btn-up-modal"></ion-icon> -->
          <span id="icon-modal" class="material-symbols-outlined">
            expand_less
          </span>
        </ul>

      </dialog>
    </div>

    <section class="section1">
      <p id="p1-section1">
        Olá,<br />
        Eu sou o Rodrigo!
      </p>
      <p id="p2-section1">Desenvolvedor Front-end.</p>
    </section>

  </section>
