<!-- <section class="section-menu">
  <div id="div-menu">
    <span id="span1-logo">Rodrigo<span id="span2-logo">Marques</span>.</span>
    <ul id="ul-do-menu">
      <li class="li-home">Home</li>
      <li class="li-sobre">Sobre</li>
      <li class="li-conhecimentos">Conhecimentos</li>
      <li class="li-projetos">Projetos</li>
      <li class="li-cursos">Cursos</li>
      <li class="li-contato">Contato</li>
    </ul>
  </div>

  <div id="div-menu2">
    <span id="span1-logo">Rodrigo<span id="span2-logo">Marques</span>.</span>
    <span id="icon-menu" class="material-symbols-outlined"> menu </span>
    <dialog class="dialog">
      <ul id="ul-do-menu2">
        <li>Home</li>
        <li>Sobre</li>
        <li>Conhecimentos</li>
        <li>Projetos</li>
        <li>Cursos</li>
        <li>Contato</li>

        <span id="icon-modal" class="material-symbols-outlined">
          expand_less
        </span>
      </ul>
    </dialog>
  </div>
</section> -->

<header
  class="bg-black bg-opacity-30 bg-blend-multiply fixed w-full top-0 z-50"
>
  <nav
    class="max-w-screen-xl mx-auto flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <span class="text-blue-400 text-xl font-bold"
        >Rodrigo<span class="text-white">Marques</span>.</span
      >
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a
        href="#"
        class="text-sm font-semibold leading-6 text-white hover:underline"
        >Início</a
      >
      <a
        href="#"
        class="text-sm font-semibold leading-6 text-white hover:underline"
        >Sobre</a
      >
      <a
        href="#"
        class="text-sm font-semibold leading-6 text-white hover:underline"
        >Conhecimentos</a
      >
      <a
        href="#"
        class="text-sm font-semibold leading-6 text-white hover:underline"
        >Projetos</a
      >
      <a
        href="#"
        class="text-sm font-semibold leading-6 text-white hover:underline"
        >Cursos</a
      >
      <a
        href="#"
        class="text-sm font-semibold leading-6 text-white hover:underline"
        >Contato</a
      >
    </div>
  </nav>
</header>
