* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
    /* background-image: linear-gradient(#020720, #000000); */
    /* background-repeat: no-repeat; */
  }
  
  
  #div-menu {
    display: flex;
    padding: 1em;
    justify-content: space-between;
  }
  
  #div-menu2 {
    display: none;
  }
  
  @media (max-width: 900px) {
    #div-menu {
      font-size: 12px;
      /* display: none; */
    }
  }
  
  @media (max-width: 699px) {
    #div-menu {
      display: none;
    }
  
    #ul-do-menu2 {
      font-size: 15px;
      list-style: none;
      text-align: center;
      padding: 25px;
      line-height: 30px;
      color: white;
      margin-top: 15px;
    }
  
    #div-menu2 {
      font-size: 11px;
      display: block;
      display: flex;
      justify-content: space-between;
      padding: 1em;
    }
  
    .dialog {
      background-color: black;
      /* font-weight: bold; */
      width: 60%;
      height: 55%;
      margin: auto;
      border-radius: 10px;
      border: 1px solid #068ae2;
    }
  
    .button1 {
        background-color: transparent;
      }
  
      .button-icon {
        background-color: black;
        font-size: 25px;
        border: 1px solid white;
        color: white;
        border-radius: 3px;
      }
  
      .btn-up-modal {
        font-size: 25px;
        margin-top: 20px;
        border: 1px solid #068ae2;
        margin-top: 30px;
        width: 7rem;
        border-radius: 10px;
        color: #068ae2;
      }
  
      .btn-up-modal:hover {
        background-color: #068ae2;
        color: white;
        border: 1px solid white;
      }
  
      #icon-menu {
        color: white;
        font-size: 33px !important;
        cursor: pointer;
      }
  
      #icon-menu:hover {
        color: #068ae2;
        font-weight: bold;
      }
  
      #icon-modal {
        color: white;
        font-size: 45px !important;
        cursor: pointer;
      }
  
      #icon-modal:hover {
        color: #068ae2;
        font-weight: bold;
      }
  
  }
  
  /* @media (max-width: 899.99px) {
    #div-menu2 {
      display: flex;
      justify-content: space-between;
    }
  
    #ul-do-menu2 {
      color: white;
      list-style: none;
      font-weight: bold;
      padding: 0.5em;
      font-size: 1em;
    }
  } */
  
  #ul-do-menu {
    display: flex;
    list-style-type: none;
    margin-right: 2%;
    justify-content: space-between;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    width: 55%;
    overflow: hidden;
  }