<section
  class="relative py-20 flex flex-col items-center bg-cyan-900 overflow-hidden md:py-40 border-b-2 border-blue-500"
>
  <div class="relative z-[1] container m-auto">
    <div class="flex lg:flex-1 justify-center pb-6">
      <span class="text-blue-400 text-xl font-bold">
        Sobre<span class="text-white">Mim</span>.
      </span>
    </div>

    <div
      class="flex flex-col sm:flex-row max-w-[800px] min-w-[250px] min-h-[50vh] mx-auto text-center mt-5"
    >
      <div class="sm:w-1/2 p-5">
        <img
          id="img-perfil"
          class="w-full h-96 sm:w-auto"
          src="../../../assets/images/foto-sobre.jpeg"
          alt="Imagem de Perfil - Rodrigo Marques"
        />
      </div>
      <div class="sm:w-1/2 sm:ml-2">
        <p
          class="text-white text-justify p-2 max-w-[800px] min-w-[250px] mx-auto mb-2"
        >
          {{ sobreMim1 }}
        </p>
        <p
          class="text-white text-justify p-2 max-w-[800px] min-w-[250px] mx-auto mb-2"
        >
          {{ sobreMim2 }}
        </p>
        <a
          href=""
          id="btn-curriculo"
          download=""
          class="px-4 py-2 border border-blue-500 text-blue-500 text-lg font-bold rounded-sm hover:bg-blue-500 hover:text-white"
          >{{ curriculo }}</a
        >
      </div>
    </div>
  </div>
  <div aria-hidden="true" class="absolute h-full inset-0 flex items-center">
    <div
      aria-hidden="true"
      class="bg-layers bg-scale w-56 h-56 m-auto blur-xl bg-gradient-to-r from-cyan-400 via-blue-500 to-purple-600 rounded-full md:w-[30rem] md:h-[30rem] md:blur-3xl"
    ></div>
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 w-full h-full bg-[#020314] opacity-80"
  ></div>
</section>
