// animação:

// html {
//   height: 100%;
// }

// body {
//   background: #333;
//   text-align: center;
//   min-height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// h4 {
//   font-size: 1.5rem;
// }

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    #fff 20%,
    #3b82f6 40%,
    #3b82f6 60%,
    #fff 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  // text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2.2s linear infinite;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}
