.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    #fff 20%,
    #3b82f6 40%,
    #3b82f6 60%,
    #fff 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.7s linear infinite;
}

button:hover .linear-wipe {
  animation: none;
  color: #fff;
  background: transparent;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

button:hover {
  background: transparent;
  border-color: transparent;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

.btn {
  position: relative;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  visibility: hidden;
}

.btn.btn-border-1::after {
  bottom: 0px;
  right: 0px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}

.btn.btn-border-1::before {
  top: -3px;
  left: -3px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
}

.btn.btn-border-1:hover {
  animation: pulse 1s ease-out 0.4s;
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  visibility: visible;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

.btn.btn-border-1:hover::after {
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

.btn.btn-border-1:hover::before {
  transition: width 0.1s ease, height 0.1s ease 0.1s;
}

body, html {
  height: 100%;
  background: #fff;
}

.pulse-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
  border: 2px solid #5a99d4;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  background-color: #3b7ab1;
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 25px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}